@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

#root {
  font-family: "Audiowide", sans-serif;
  background-color: #B0E0E6;
}

.zoom-in {
  animation: zoomIn 0.5s forwards; 
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.navbar {
  font-family: "Audiowide", sans-serif;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px 20px;
  background-color: #B0E0E6;
  background-image: linear-gradient(-45deg, #001f3f 25%, transparent 25%, transparent 50%, #001f3f 50%, #001f3f 75%, transparent 75%, transparent);
  background-size: 5px 5px;
}

.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem; 
}

.logo {
  font-family: "Audiowide", sans-serif;
  color: #F8F8F8; 
  font-size: 42px;
  font-weight: bold;
}

.nav-links {
  font-family: 'Changa', cursive;
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  font-family: 'Changa', cursive;
  color: #F8F8F8; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #FFD700; 
}

.footer {
  background-color: #B0E0E6; 
  font-family: 'Audiowide', sans-serif;
  padding: 20px;
  text-align: center;
  background-image: linear-gradient(-45deg, #001f3f 25%, transparent 25%, transparent 50%, #001f3f 50%, #001f3f 75%, transparent 75%, transparent);
  background-size: 5px 5px;
}

.footer-content {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column; 
  flex-wrap: wrap; 
}

.footer-logo {
  color: #F8F8F8; 
  font-size: 20px;
  margin-bottom: 10px; 
}

.footer-nav {
  flex-grow: 1; 
}

.footer-links {
  list-style-type: none;
  display: flex;
  justify-content: center; 
  margin: 0;
  padding: 0;
}

.footer-item {
  margin: 0 15px;
}

.footer-link {
  color: #F8F8F8; 
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #FFD700; 
}

.tilt-prism-footer {
  font-family: 'Audiowide', sans-serif;
  font-size: 20px;
  font-weight: bold;
}